.product{
    background-color: white;
    border-radius: 0.8rem;
    height: 100%;
    width: 100%;
    .image{
        text-align: center;
        margin: auto;
        img{
            border-radius: 0.8rem 0.8rem 0 0;

        }
    
    }
    .product-details{
        padding: 0.8rem;
        max-width: max-content;
        a:first-child{
            text-decoration: none;
            font-weight: 600;
            color: var(--success);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .product-footer{
        display: flex;
        padding: 0.8rem;
        align-items: center;
        justify-content: space-between;
        >p{
            font-weight: 600;
        }
        button{
            border: none;
            background-color: transparent;
            padding: 2px 8px;
            cursor: pointer;
            &:active,&:focus{
            background-color: transparent;
            }
            
            .cart-icon{
                height: 1.5rem;
                width: 1.5rem;
                color: white;
                padding: 3px 1rem;
                background-color: var(--dark);
                border-radius: 3px;
                &:hover{
                    background-color: var(--success);
                }
            }
        }
    }
    
}